@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.login-button {
  background-color: rgb(143, 190, 233);
  color: white;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
}

.login-button:hover {
  background-color: #1d4ed8; 
}
.official-color {
  background-color: rgb(143, 190, 233); /* RGB 값으로 배경 색상 설정 */
}
.hamburger {
  display: inline-block;
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 10px;
}

.hamburger span {
  display: block;
  width: 25px;  /* 줄의 너비 */
  height: 3px;  /* 줄의 높이 */
  margin: 5px auto;
  background-color: white;  /* 줄의 색상 */
  transition: all 0.3s ease; /* 애니메이션 효과 */
  border-radius: 1.5px;
}