@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer base {
  html {
    color-scheme: light !important;
  }
}


body {
  color: rgb(var(--foreground-rgb));
  background:
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.login-button {
  background-color: #8fbee9;
  color: white;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
}

.login-button:hover {
  background-color: #1d4ed8;
}

.official-color {

  background-color: rgb(143, 190, 233);
  /* RGB 값으로 배경 색상 설정 */

  background-color: #8fbee9; /* RGB 값으로 배경 색상 설정 */

}


.text-official-color {
  color: rgb(143, 190, 233);
  /* RGB 값으로 텍스트 색상 설정 */
}


.mail-hover:hover {
  border: solid 2px rgb(143, 190, 233);
  border-radius: 5px;
}

.hamburger {
  display: inline-block;
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 10px;
}

.hamburger span {
  display: block;
  width: 25px;
  /* 줄의 너비 */
  height: 3px;
  /* 줄의 높이 */
  margin: 5px auto;
  background-color: white;
  /* 줄의 색상 */
  transition: all 0.3s ease;
  /* 애니메이션 효과 */
  border-radius: 1.5px;
}

.hamburger1 {
  display: inline-block;
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 10px;
}

.hamburger1:hover {
  background-color: #e0e0e0;

}

.hamburger1 span {
  display: block;
  width: 25px;
  /* 줄의 너비 */
  height: 3px;
  /* 줄의 높이 */
  margin: 5px auto;
  background-color: black;
  /* 줄의 색상 */
  transition: all 0.3s ease;
  /* 애니메이션 효과 */
  border-radius: 1.5px;
}

.send {
  background-color: white;
}

.send:hover {
  background-color: #e0e0e0;

}

.mail-hamburger {
  display: inline-block;
  cursor: pointer;
  background: transparent;
  border: none;
  /* padding: 10px; */
  margin-right: 3px;
  width: 30px;
}

.mail-hamburger span {
  display: block;
  width: 2px;
  /* 줄의 너비 */
  height: 2px;
  /* 줄의 높이 */
  margin: 5px auto;
  background-color: black;
  /* 줄의 색상 */
  transition: all 0.3s ease;
  /* 애니메이션 효과 */
  border-radius: 1.5px;
}

@layer components {
  .checkbox-div:has(input:checked) {
    @apply border-2 border-[#8fbee9] group-hover:bg-[#dce2e8];
  }
  checkbox {
    @apply focus:outline-none
  }
}

.truncate {
  display: inline-block; /* Ensure it takes the width of its content */
  width: 5em; /* Set the width to a value that fits 5 characters */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Show ... when text overflows */
  white-space: nowrap; /* Prevent line breaks */
  text-align: center; /* Center the text within the element */
}

