@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.login-button {
  background-color: rgb(143, 190, 233);
  color: white;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
}

.login-button:hover {
  background-color: #1d4ed8; 
}
.official-color {
  background-color: rgb(143, 190, 233); /* RGB 값으로 배경 색상 설정 */
}
.hamburger {
  display: inline-block;
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 10px;
}

.hamburger span {
  display: block;
  width: 25px;  /* 줄의 너비 */
  height: 3px;  /* 줄의 높이 */
  margin: 5px auto;
  background-color: white;  /* 줄의 색상 */
  transition: all 0.3s ease; /* 애니메이션 효과 */
  border-radius: 1.5px;
}

.bubble-1 {
  display: inline-flex;
  background-color: hsl(0, 0%, 0%);
  border-radius: 16px;
  padding: 8px 16px;
  font-size: 14px;
  max-width: 60%;
  position: relative;
  margin: 5px;
  font-weight: bold;
}

/* 왼쪽 말풍선 */
.bubble-1.left::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  left: -8px;
  top: 50%;
  border-right: 10px solid #000000;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  transform: translate(10%, -50%);
}

/* 오른쪽 말풍선 */
.bubble-1.right::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  right: -8px;
  top: 50%;
  border-left: 8px solid hwb(0 0% 100%);
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  transform: translate(-10%, -50%);
}